*{
    background-color: rgb(245, 236, 223);
}




p{
    text-align: center;
    font-family: 'Long Cang', cursive;
    font-size: 20px;
    font-stretch: expanded;

}



h1{
    color: rgba(78, 67, 50, 0.836);
    font-size: 100px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

 a {
  
  font-size: 20px;
  margin-left:250px;
  color: #000;

 

 }
 h3{
   font-weight: bold;
   font-size: 20px;
   color: rgb(54, 58, 116);
   margin-top: 10px;
   margin-left: 600px;

 }
 section.images{
   margin-left: 500px;
   

 }
 .ourloc {
   margin-left: 250px;
 }
 .loc{
   font-size: 20px;
   font-weight: bold;
 }
 
 
  
 table{
    background-color: rgb(175, 172, 139);
    border-radius: 15px;
    box-shadow: 0, 6px, 12px, rgba(0,0,0,0,23), 0 10px 40px rgba(0, 0, 0, 0.19);
    margin: 15px auto 10px;
    max-height: 100vh;
    padding: 13px 10px 20px;
    width: 85vw;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgb(56, 61, 52);
    margin-bottom: 30px;

 }
 
table td {
    border: 3px solid rgb(100, 96, 96);
    padding:15px;
  }
  table th ,tfoot{
    border: 3px solid rgb(100, 96, 96);
    background-color: rgb(192, 187, 180);
  }
  

  nav > ul > li {
    margin: 35px;
    display: inline-block;
    vertical-align: middle;
    
    
  }

  img {
    margin: 30px;
    

  }


  legend {
    color: rgb(87, 67, 61);
    font-family: 'Ranchers', cursive; 
    font-size: 1.2em;
    text-align: center;
    padding: 2px;
    
  }
  
     fieldset {
      border: 3px solid rgb(131, 128, 103);
    margin: auto;
    width: 70%;
    padding: 30px;
    align-content: center;
   
  }  

  
  button {
    display: block;
    margin: 0 auto;
  }
  
  label, input {
    margin: 5px;
    display: block ;
    margin-left: 400px;
  }
  
  
  form {
    margin-top: 25px;
    padding-bottom: 15px;
    width:100vw;
    float: left;
  } 